* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-wrapper {
  margin: 0px 0px;
  display: grid;
  min-height: 500px;
}

.page-section {
  margin: 0% 5%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 25% 25% 25%;
  gap: 10px;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  font-size: 35;
  color: black;
  background-color: aqua;
}

.contact {
  margin: 0px 0px;
  display: grid;
  min-height: 500px;
  
}

.lay {
  display: grid;
  width: 300px;
  min-height: 300px;
  font-size: xx-large;
  color: black;
  background-color: grey;
  border-right: solid;
}


h1{
  font-size: 35;
  color: black;
  background-color: aqua;
}

h2,

h3 {
  font-size: larger;
  color: black;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

